cache/*
classes/*
config/*
controllers/*
css/*
docs/*
download/*
img/*
js/*
localization/*
log/*
mails/*
#modules/*
nbproject/*
override/*
panel/*
pdf/*
#themes/*
tools/*
#translations/*
upload/*
webservice/*