/* block top user information */
#header_user{
    display:inline-block;
}
#header_right #header_user {
    clear:both;
    /*float: right;*/
    display:inline-block;
    margin-top:8px;
    width: 535px;
}

#header_user #header_nav {
    list-style-type:none;
    /*float:right;*/
    display:inline-block;
}

/* cart */
#shopping_cart {
    display:inline-block;
    position:relative;
}
#shopping_cart a#cabecera_shoping_cart {
    background: url('img/icon/cart.gif') no-repeat 10px 50% #666;
    display: inline-block;
    line-height: 24px;
    border-radius: 0px!important;
    padding-left: 40px;
    padding-right: 10px;
    text-decoration:none;
    position:relative;
}
#shopping_cart a#cabecera_shoping_cart,
#shopping_cart a#cabecera_shoping_cart span{
    color:#fff;
    cursor:pointer;
}
#shopping_cart a:hover span{text-decoration: none}
#header_user #shopping_cart .ajax_cart_quantity { font-weight:bold; font-size:18px }
#header_user #shopping_cart .ajax_cart_total { display:none !important; }


/* account */
#your_account{
    display:inline-block;
    padding: 0px 10px;
    background:#666 url('img/icon/my-account.gif') no-repeat center left; 
    padding-left: 25px;
}
#your_account a { 
    display:inline-block;
    line-height: 24px; 
    color:#fff; 
}

/* user infos */ 
#header_user_info {
    display: inline-block;
    color: white;
    background: #666;
    line-height: 24px;
    padding: 0px 10px;
}
#header_user_info a {
    display: inline-block;
    line-height: 24px;
    border-left: 1px solid white;
    color: white;
    padding-left: 30px;
}
#header_user_info a.account {
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
    color:#fff;
}
*:first-child+html #header_user_info a {line-height:14px;}
#header_user_info a.login {
    background: url('img/icon/login.gif') no-repeat 10px 50%;
    margin-left: 5px;
}
#header_user_info a.logout {
    background: url('img/icon/logout.png') no-repeat 10px -1px;
    display:inline-block;
}
