#categories_block_left .tree li,
#categories_block_left .tree {
    display: block;
    list-style: none;
}
#categories_block_left .tree li a:hover{
    text-decoration: none;
}
#categories_block_left .tree li a {
    font-size: 30px;
    line-height: 120%;
    color: white;
    text-shadow: 2px 2px 2px black;
}
#categories_block_left .tree li ul{
    padding-left: 20px;
    display:none;
}
#categories_block_left .tree li li a {
    font-size: 20px;
    line-height: 120%;
    color: white;
    text-shadow: 2px 2px 2px black;
}